<template>
  <div class="h-screen font-sans leading-normal leading">
    <navbar />
    <!-- heroComponent -->
    <router-view />
    <!-- <MenuContainer /> -->
    <!-- footerComponent -->
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
export default {
  components: {
    Navbar
  }
}
</script>
