<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://js.stripe.com">
    <title><%= htmlWebpackPlugin.options.title %></title>
  <body>
    <div id="app"></div>
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>
