<template>
  <div ref="button" class="relative">
    <button
      class="relative flex flex-row items-center w-full px-4 py-2 mt-2 overflow-visible text-sm font-semibold text-left text-gray-900 bg-transparent bg-gray-200 rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
      @click="toggleCart"
    >
      <div class="absolute top-0 right-0 px-3 py-1 -mt-5 -mr-5 text-blue-800 bg-yellow-300 border border-indigo-700 border-solid rounded-full">
        {{ totalItems }}
      </div>
      <span>Cart</span>
      <svg
        fill="currentColor"
        viewBox="0 0 20 20"
        :class="{'rotate-180': showCart, 'rotate-0': showCart}"
        class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <!-- transition -->
    <transition name="fade">
      <div
        v-if="showCart"
        ref="cart"
        class="absolute right-0 flex flex-col w-full mt-2 bg-gray-300 shadow-lg md:max-w-screen-sm md:w-screen origin-top-right from-gray-100 bg-gradient-to-bl rounded-md"
        style="height: 360px;"
      >

        <div class="flex justify-around h-8 -ml-1 text-blue-700 ">
          <div
            :class="(currentStep >= 1) ? 'bg-blue-600 text-white': 'text-blue-800'"
            class="flex-1 ml-1 text-center border border-gray-300 border-solid "
          >
            Order
          </div>
          <div
            :class="(currentStep >= 2) ? 'bg-blue-600 text-white': 'text-blue-800'"
            class="flex-1 ml-1 text-center border border-gray-300 border-solid"
          >
            Delivery
          </div>
          <div
            :class="(currentStep >= 3) ? 'bg-blue-600 text-white': 'text-blue-800'"
            class="flex-1 ml-1 text-center border border-gray-300 border-solid"
          >
            Payment
          </div>
          <div
            :class="(currentStep >= 4) ? 'bg-blue-600 text-white': 'text-blue-800'"
            class="flex-1 ml-1 text-center border border-gray-300 border-solid"
          >
            Finish
          </div>
        </div>

        <div class="flex content-center justify-center h-full" style="min-height: 150px; overflow-y: auto;">

          <div v-show="(currentStep === 1)" class="w-full px-2 pt-2 pb-4 text-gray-700">
            <OrdersContainer :products="order.products" />
          </div>

          <div v-show="(currentStep === 2)" class="flex items-center justify-center w-full h-full px-2 pt-2 pb-4 text-gray-700 bg-white bg-gray-300 shadow-lg from-gray-100 bg-gradient-to-bl rounded-md">
            <form class="max-w-xl p-3 m-4 bg-white rounded shadow-xl">

              <p class="mt-4 font-medium text-gray-800">Delivery information</p>
              <div class="inline-block w-1/2 pr-1 mt-2">
                <label class="block text-sm text-gray-600" for="cus_name">Name</label>
                <input
                  id="delivery_name"
                  v-model="name"
                  class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
                  name="name"
                  type="text"
                  required
                  placeholder="Your Name"
                  aria-label="Name"
                >
              </div>
              <div class="inline-block w-1/2 pl-1 mt-2 -mx-1">
                <label class="block text-sm text-gray-600" for="cus_name">Surname</label>
                <input
                  id="surname"
                  v-model="surname"
                  class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
                  name="surname"
                  type="text"
                  required
                  placeholder="Your Surname"
                  aria-label="Name"
                >
              </div>
              <div class="mt-2">
                <label class="block text-sm text-gray-600 " for="cus_email">Address</label>
                <input
                  id="address"
                  v-model="address"
                  class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
                  name="address"
                  type="text"
                  required
                  placeholder="Street"
                  aria-label="Address"
                >
              </div>
              <div class="flex justify-center pt-3 -ml-3">
                <button
                  class="w-1/2 py-2 ml-3 text-white bg-blue-500 rounded sm:w-2/3"
                  @click="nextStep($event, 1)"
                >
                  Back
                </button>
                <button
                  class="w-full py-2 ml-3 text-white bg-blue-500 rounded sm:w-2/3"
                  :disabled="!addressReady"
                  :class="!addressReady ? 'opacity-50 cursor-not-allowed' : ''"
                  @click="setAddress"
                >
                  Next
                </button>
              </div>
            </form>
          </div>

          <div v-show="(currentStep === 3)" class="flex items-center justify-center w-full h-full px-2 pt-2 pb-4 text-gray-700 bg-white bg-gray-300 border border-gray-500 border-solid shadow-lg from-gray-100 bg-gradient-to-bl rounded-md ">
            <form id="payment-form" class="w-full h-full max-w-xl p-3 m-4 bg-white rounded shadow-xl">

              <h3 class="w-full font-bold text-center text-red-500">TEST MODE</h3>

              <table class="mx-auto table-auto">
                <thead>
                  <tr>
                    <th class="px-2 py-1">Number</th>
                    <th class="px-2 py-1">Exp</th>
                    <th class="px-2 py-1">CVC</th>
                    <th class="px-2 py-1">Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="px-2 py-1 border">4242424242424242</td>
                    <td class="px-2 py-1 border">Any (Future date)</td>
                    <td class="px-2 py-1 border">Any</td>
                    <td class="px-2 py-1 border">Success</td>
                  </tr>
                  <tr class="bg-gray-100">
                    <td class="px-2 py-1 border">4000000000009995</td>
                    <td class="px-2 py-1 border">Any (Future date)</td>
                    <td class="px-2 py-1 border">Any</td>
                    <td class="px-2 py-1 border">Insufficient funds</td>
                  </tr>
                </tbody>
              </table>

              <p class="mt-4 font-medium text-gray-800">Payment information</p>

              <div
                id="card-element"
                ref="card"
                class="border border-blue-500 border-solid"
              >
                <!-- A Stripe Element will be inserted here. -->
              </div>

              <div
                id="card-errors"
                role="alert"
              />

              <p v-show="errorMessage" class="text-red-500 "> {{ errorMessage }} </p>

              <div class="flex justify-center pt-3 -ml-3">
                <button
                  class="w-1/2 py-2 ml-3 text-white bg-blue-500 rounded sm:w-2/3"
                  @click="nextStep($event, 2)"
                >
                  Back
                </button>
                <button
                  :disabled="lockSubmit"
                  class="w-full py-2 ml-3 text-white bg-blue-500 rounded sm:w-2/3"
                  :class="lockSubmit ? 'opacity-50 cursor-not-allowed' : ''"
                  @click="purchase"
                >
                  Pay
                </button>
              </div>
            </form>

          </div>

          <div v-show="(currentStep === 4)" class="flex flex-col items-center justify-center w-full h-full px-2 pt-2 pb-4 text-gray-700">
            <p> {{ message }} </p>
            <button
              class="w-full py-2 mt-5 ml-3 text-white bg-blue-500 rounded sm:w-2/3"
              @click="makeNewOrder($event)"
            >
              Make a new order
            </button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import OrdersContainer from '@/components/OrdersContainer'

export default {
  components: {
    OrdersContainer
  },
  data: () => ({
    showCart: false,
    address: '',
    name: '',
    surname: '',
    message: '',
    errorMessage: '',

    // payment: {
    // card: '',
    // expiration: '',
    // cvc: ''
    // },

    // TODO: move to .env file
    spk: 'pk_test_51HWmhjFIZ3IWlNUKvXP40Ar74ZkzrKGTEB6OHU8p3k5EIxfoYLdnzsIjvr6BXDBBLdHNzWsnrfck2lVh5eo9Azmo00CxsOi5hW',
    lockSubmit: false,
    stripe: undefined,
    elements: undefined,
    card: undefined,

    style: {
      base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    }
  }),

  computed: {
    ...mapGetters([
      'order',
      'totalItems',
      'currentStep'
    ]),
    addressReady() {
      return this.address && this.name && this.surname
    }
    // payReady() {
    // return this.payment.card && this.payment.expiration && this.payment.cvc
    // }
  },
  watch: {
    currentStep(step) {
      if (step === 3) {
        // eslint-disable-next-line
        this.stripe = Stripe(this.spk)

        this.elements = this.stripe.elements()

        this.card = this.elements.create('card', { style: this.style })

        this.card.mount('#card-element')
      }
    }
  },
  created() {
    document.addEventListener('click', this.hideSelector)
  },
  beforeDestroy() {
    document.removeEventListener('click', this.hideSelector)
  },
  methods: {
    toggleCart() {
      this.showCart = !this.showCart
    },
    hideSelector(event) {
      const cart = this.$refs['cart']
      const button = this.$refs['button']

      if (!cart) return

      const pos = {
        x: event.targetTouches ? event.targetTouches[0].pageX : event.clientX,
        y: event.targetTouches ? event.targetTouches[0].pageY : event.clientY
      }

      const rectCart = cart.getBoundingClientRect()
      const rectButton = button.getBoundingClientRect()

      const isClickInsideCart = pos.x < rectCart.right && pos.x > rectCart.left && pos.y < rectCart.bottom && pos.y > rectCart.top
      const isClickInsideButton = pos.x < rectButton.right && pos.x > rectButton.left && pos.y < rectButton.bottom && pos.y > rectButton.top

      if (!isClickInsideCart && !isClickInsideButton) {
        this.showCart = false
      }
    },
    setStep(step) {
      this.$store.commit('order/SET_STEP', step)
    },
    nextStep(e, step) {
      e.preventDefault()
      this.$store.commit('order/SET_STEP', step)
    },
    setAddress(e) {
      e.preventDefault()
      this.$store.commit('order/SET_ADDRESS', this.address)
      this.$store.commit('order/SET_NAME', this.name)
      this.$store.commit('order/SET_STEP', 3)
    },
    makeNewOrder(e) {
      this.$store.commit('order/SET_STEP', 1)
      this.showCart = false
    },
    purchase(e) {
      e.preventDefault()
      this.lockSubmit = true

      this.stripe.createToken(this.card)
        .then(result => {
          if (result.error) {
            const errorElement = document.getElementById('card-errors')
            errorElement.textContent = result.error.message
            this.lockSubmit = false
          } else {
            this.stripeTokenHandler(result.token)
          }
        })
    },
    stripeTokenHandler(token) {
      this.$store.commit('order/SET_ORDER_INTENT_TOKEN', token.id)

      this.$store.dispatch('order/sendOrder')
        .then(response => {
          if (response.status) {
            this.message = response.message
            this.address = ''
            this.name = ''
            this.surname = ''
            this.errorMessage = ''

            this.$store.commit('order/SET_STEP', 4)
            this.$store.commit('order/CLEAN_ORDER')
          } else {
            this.errorMessage = response.message
          }
          this.lockSubmit = false
        })
        .catch(error => {
          console.error('error:', error)
          this.errorMessage = error.message
          this.lockSubmit = false
        })
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>

