<template>
  <div ref="selector-container" class="relative">
    <button
      class="relative flex flex-row items-center w-full px-4 py-2 mt-2 overflow-visible text-sm font-semibold text-left text-gray-900 bg-transparent bg-gray-200 rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
      @click="toggleCurrency"
    >
      <div class="absolute top-0 right-0 px-3 py-1 -mt-5 -mr-5 text-blue-800 bg-yellow-300 border border-indigo-700 border-solid rounded-full">
        {{ currentCurrency.symbol }}
      </div>
      <span>Currency</span>
      <svg
        fill="currentColor"
        viewBox="0 0 20 20"
        :class="{'rotate-180': showCurrency, 'rotate-0': showCurrency}"
        class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <!-- transition -->
    <transition name="fade">
      <div
        v-if="showCurrency"
        class="absolute right-0 w-full mt-2 md:max-w-64 md:w-64 origin-top-right"
      >
        <div class="relative z-10 flex flex-col px-2 pt-2 pb-4 text-gray-700 bg-white bg-gray-300 shadow-lg from-gray-100 bg-gradient-to-bl rounded-md">
          <ul
            v-for="currency in currencies"
            :key="currency.name"
          >
            <li
              class="pt-1 text-gray-700"
            >
              <a
                class="block px-4 py-2 whitespace-no-wrap bg-gray-200 hover:bg-gray-400"
                href="#"
                @click="setCurrency(currency)"
              >
                <div class="flex">
                  <img
                    :src="currency.image"
                    :alt="currency.name"
                    class="w-4 "
                  >
                  <span class="ml-2">{{ currency.name }}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    showCurrency: false
  }),
  computed: {
    ...mapGetters([
      'currencies',
      'currentCurrency'
    ])
  },
  created() {
    document.addEventListener('click', this.hideSelector)
  },
  beforeDestroy() {
    document.removeEventListener('click', this.hideSelector)
  },
  methods: {
    toggleCurrency() {
      this.showCurrency = !this.showCurrency
    },
    setCurrency(currency) {
      this.showCurrency = false
      this.$store.commit('order/SET_CURRENCY', currency)
    },
    hideSelector(e) {
      const selector = this.$refs['selector-container']
      const isClickInside = selector.contains(e.target)

      if (!isClickInside) {
        this.showCurrency = false
      }
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>

