<template>
  <div class="h-full pt-24 font-sans antialiased bg-gray-200">
    <div class="container px-4 mx-auto sm:px-8">
      <div class="py-8">

        <div>
          <h2 class="text-2xl font-semibold leading-tight">Orders</h2>
          <h4>Currently, all transactions are shown in dollars.</h4>
        </div>

        <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
          <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
            <table class="min-w-full leading-normal">
              <thead>
                <tr>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                  >
                    ID
                  </th>
                  <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                    Amount
                  </th>
                  <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                    Currency
                  </th>
                  <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                    Address
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                  >
                    Created at
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                  >
                    Status
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                  >
                    Details
                  </th>
                </tr>
              </thead>
              <tbody>
                <template v-for="order in orders">
                  <tr :key="order.id">
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <div class="flex items-center">
                        <div class="ml-3">
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ order.id }}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <p class="text-gray-900 whitespace-no-wrap"><strong>{{ order.total }} $</strong></p>
                    </td>
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <p class="text-gray-900 whitespace-no-wrap">{{ order.currency }}</p>
                    </td>
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <p class="text-gray-900 whitespace-no-wrap">{{ order.address }}</p>
                    </td>
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <p class="text-gray-900 whitespace-no-wrap">
                        {{ DateTime.fromISO(order.created_at).toRelative() }}
                      </p>
                    </td>
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <span
                        class="relative inline-block px-3 py-1 font-semibold leading-tight text-orange-900"
                      >
                        <span
                          aria-hidden
                          class="absolute inset-0 bg-orange-200 rounded-full opacity-50"
                        />
                        <span class="relative">
                          {{ order.status }}
                        </span>
                      </span>
                    </td>
                    <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                      <button class="px-5 py-2 text-blue-500 border border-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none" @click="showDetails(order)">
                        View Details
                      </button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <Modal
      v-show="isModalVisible"
      @close="closeModal"
    >
      <template slot="header">
        details of order # {{ currentOrder.id }}
      </template>

      <template slot="body">
        <Order :products="products" />
      </template>

    </Modal>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'
import Modal from '@/components/Modal.vue'
import Order from '@/components/OrderDetail'
import { DateTime } from 'luxon'

export default {
  components: {
    Modal,
    Order
  },
  data: () => ({
    isModalVisible: false,
    currentOrder: {},
    products: [],
    DateTime
  }),
  computed: {
    ...mapGetters([
      'orders'
    ])
  },
  created() {
    this.$store.dispatch('order/fetchOrders')
  },
  methods: {
    showDetails(order) {
      this.products = order.products
      this.currentOrder = order
      this.isModalVisible = true
    },
    closeModal() {
      this.isModalVisible = false
      this.currentOrder = ''
      this.products = []
    }
  }
}
</script>
