<template>
  <div class="flex justify-center w-full h-full align-middle bg-gray-300 ">
    <div class="block mt-24 mb-3 bg-white rounded-lg lg:flex lg:shadow-lg">
      <div class="flex w-full border-gray-200 lg:w-1/3 lg:border-r">
        <div class="m-auto rounded-full">
          <a href="/" class="flex pt-10 -mb-10 items-base lg:p-2 lg:-mb-0">
            <img
              src="/assets/images/fedora.png"
              alt=""
              class="w-12 lg:w-48"
            >
            <div class="block text-2xl font-semibold tracking-wide uppercase lg:hidden text-primary hover:text-primary">Pizza Hat</div>
          </a>
        </div>
      </div>
      <div class="w-full px-6 py-16 lg:w-2/3">
        <div class="mb-4 text-2xl font-light tracking-widest">LOGIN</div>
        <p class="text-sm">user: admin@pizzahat.com</p>
        <p class="text-sm">password: secret</p>
        <form>
          <div class="mt-4 mb-1">
            <label for="email" class="block mb-2 text-sm text-gray-800">Email</label>
            <input
              id="email"
              v-model="form.email"
              type="email"
              name="email"
              class="w-full px-3 py-2 leading-tight text-gray-700 border rounded appearance-none focus:border-blue-500 focus:outline-none"
              autocomplete="email"
              required
            >
          </div>
          <div class="mb-4">
            <label for="password" class="block mb-2 text-sm text-gray-800">Your password</label>
            <input
              id="password"
              v-model="form.password"
              type="password"
              name="password"
              class="w-full px-3 py-2 leading-tight text-gray-700 border rounded appearance-none focus:border-blue-500 focus:outline-none"
              autocomplete="current-password"
              required
            >
          </div>
          <div class="items-center justify-between block md:flex">
            <button
              type="submit"
              class="inline-block px-4 py-2 text-sm font-semibold text-center text-white align-middle bg-blue-500 rounded-lg shadow-lg hover:bg-blue-600"
              @click="signIn"
            >LOGIN</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    form: {
      email: '',
      password: ''
    }
  }),
  methods: {
    signIn(e) {
      e.preventDefault()
      this.$store.dispatch('auth/signIn', this.form)
        .then(() => {
          this.$router.push({ name: 'dashboard' })
        })
    }
  }
}
</script>

<style>

</style>

