<template>
  <main class="w-full h-full pt-24 overflow-y-auto bg-gray-600 from-gray-300 bg-gradient-to-b">

    <div class="px-10 mt-5">
      <span class="text-2xl font-bold uppercase to-gray-800">
        {{ menu.name }} menu
      </span>
    </div>

    <div class="px-2 place-items-stretch grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <template v-for="item in menu.items">
        <Menu :key="item.productCode" :menu="item" />
      </template>
    </div>
  </main>
</template>

<script>
import Menu from '@/components/Menu'
import { mapGetters } from 'vuex'

export default {
  components: {
    Menu
  },
  props: ['category'],
  data: () => ({
    menu: {
      name: null,
      items: null
    }
  }),
  computed: {
    ...mapGetters([
      'products'
    ])
  },
  watch: {
    '$route': 'fetchData'
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      await this.$store.dispatch('product/fetchProducts', this.category)
      this.menu.items = await this.$store.getters.products(this.category)
      this.menu.name = this.category
    }
  }
}
</script>

<style>

</style>

