<template>
  <div class="flex justify-center py-2">
    <div class="flex w-full h-64 max-w-md overflow-hidden bg-white rounded-lg shadow-lg">
      <div
        class="w-1/3 bg-center bg-cover"
        :style="`background-image: url('${menu.image}')`"
      />
      <div class="w-2/3 p-4 bg-gray-300 from-gray-100 bg-gradient-to-bl">
        <h1 class="text-2xl font-bold text-gray-900">
          {{ menu.name }}
        </h1>
        <p class="h-24 mt-2 text-sm text-gray-600">
          {{ menu.description }}
        </p>
        <div class="flex mt-2 item-center">
          <svg class="w-5 h-5 text-gray-700 fill-current" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
          </svg>
          <svg class="w-5 h-5 text-gray-700 fill-current" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
          </svg>
          <svg class="w-5 h-5 text-gray-700 fill-current" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
          </svg>
          <svg class="w-5 h-5 text-gray-700 fill-current" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
          </svg>
          <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
          </svg>
        </div>
        <div class="flex justify-between mt-3 item-center">
          <h1 class="text-xl font-bold text-gray-700">
            {{ price(menu) }} {{ currentCurrency.symbol }}
          </h1>
          <button class="px-3 py-2 text-xs font-bold text-white uppercase bg-gray-700 rounded hover:text-blue-300 hover:bg-gray-900" @click="addToCart(menu)">
            Add to Card
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import math from '@/mixins/math'
import { mapGetters } from 'vuex'

export default {
  mixins: [math],
  props: ['menu'],
  data: () => ({ }),
  computed: {
    ...mapGetters([
      'currentCurrency'
    ])

  },
  methods: {
    addToCart(item) {
      this.$store.dispatch('order/addToCart', item)
    },
    price(menu) {
      return this.round(menu.price * this.currentCurrency.factor, 2)
    }
  }
}
</script>

<style>

</style>

