<template>
  <transition name="modal-fade">
    <div class="fixed top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-black bg-opacity-25">
      <div class="flex flex-col overflow-x-auto bg-white shadow-xl">

        <header class="flex justify-between p-4 text-blue-700 border-b border-gray-500 border-solid">
          <slot name="header">
            This is the default tile!
          </slot>
        </header>

        <section class="px-3 py-5">
          <slot name="body">
            I'm the default body!
          </slot>
        </section>

        <footer class="flex justify-end p-4 border-t border-gray-500 border-solid">
          <slot name="footer">
            <button
              class="px-5 py-2 text-blue-500 border border-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none"
              @click="close"
            >
              OK
            </button>
          </slot>
        </footer>

      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Modal',
  methods: {
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style>
  .modal-body {
    position: relative;
    padding: 20px 10px;
  }
</style>
