<template>
  <div class="fixed top-0 z-10 w-full mt-0">
    <div class="antialiased bg-gray-100">
      <div class="w-full text-gray-200 bg-blue-700 from-blue-500 bg-gradient-to-r">
        <div class="flex flex-col px-4 mx-auto max-w-screen-xl md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
          <div class="flex flex-row items-center justify-between p-1">
            <router-link
              :to="{ name: 'main' }"
              class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg focus:outline-none"
            >
              <div class="flex items-center p-1 text-white outline-none">
                <img
                  src="/assets/images/fedora.png"
                  class="w-16"
                  alt=""
                >
                <span class="pl-3 italic whitespace-no-wrap">
                  Pizza Hat
                </span>
              </div>
            </router-link>

            <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="toggleMenu">
              <svg
                fill="currentColor"
                viewBox="0 0 20 20"
                class="w-6 h-6"
              >
                <path
                  v-show="!showMenu"
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                />
                <path
                  v-show="showMenu"
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>

          <nav
            :class="showMenu ? 'flex' : 'hidden'"
            class="flex flex-col flex-grow pb-4 md:pb-0 md:flex md:justify-end md:flex-row"
          >

            <CurrencySelector />

            <router-link
              :to="{ name: 'drinks' }"
              class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            >
              Drinks
            </router-link>

            <router-link
              :to="{ name: 'pizzas' }"
              class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            >
              Pizzas
            </router-link>

            <CartSelector />

            <template v-if="authenticated">
              <div class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg select-none md:mt-0 md:ml-4">
                Welcome, {{ user.name }}
              </div>

              <router-link
                :to="{ name: 'dashboard' }"
                class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              >
                Dashboard
              </router-link>

              <button class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" @click="logout">
                Log Out
              </button>

            </template>
            <template v-else>
              <router-link
                :to="{ name: 'login' }"
                class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              >
                Log In
              </router-link>
            </template>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CurrencySelector from '@/components/CurrencySelector'
import CartSelector from '@/components/CartSelector'
import { mapGetters } from 'vuex'

export default {
  components: {
    CurrencySelector,
    CartSelector
  },
  data: () => ({
    showMenu: false
  }),
  computed: {
    ...mapGetters({
      authenticated: 'authenticated',
      user: 'user'
    })
  },
  watch: { },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu
    },
    logout() {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push('/')
        })
    }
  }
}
</script>
