<template>
  <div>
    <a class="flex items-center p-1 text-gray-700 bg-transparent rounded-lg row hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">
      <div class="w-8 h-8 p-1 text-white bg-blue-500 rounded-lg">
        <img
          :src="order.image"
          class="object-cover w-full h-full "
          :alt="order.name"
        >
      </div>
      <div class="flex ">
        <div class="w-40 p-2">
          <p class="font-semibold">
            {{ order.name }}
          </p>
          <p class="text-sm">
            <!-- {{ order.description }} -->
          </p>
        </div>
        <div class="flex items-center justify-center w-20 ml-3">
          <h4 class="font-bold">{{ price(order) }} {{ currentCurrency.symbol }}</h4>
        </div>
        <div class="flex items-center justify-between ml-5">
          <button
            class="w-6 h-6 p-0 text-gray-200 bg-blue-700 rounded-full shadow hover:bg-blue-500 active:shadow-lg mouse transition ease-in duration-200 focus:outline-none"
            @click="subtractFromCart($event, order)"
          >
            <font-awesome-icon :icon="['fas', 'minus']" />
          </button>
          <h3 class="w-10 px-3 text-center">{{ order.quantity }}</h3>
          <button
            class="w-6 h-6 p-0 text-gray-200 bg-blue-700 rounded-full shadow hover:bg-blue-500 active:shadow-lg mouse transition ease-in duration-200 focus:outline-none"
            @click="addToCart($event, order)"
          >
            <font-awesome-icon :icon="['fas', 'plus']" />
          </button>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import math from '@/mixins/math'

export default {
  mixins: [math],
  props: ['order'],
  data: () => ({ }),
  computed: {
    ...mapGetters([
      'currentCurrency'
    ])
  },
  methods: {
    addToCart(e, item) {
      e.preventDefault()
      this.$store.dispatch('order/addToCart', item)
    },
    subtractFromCart(e, item) {
      this.$nextTick(() => {
        e.preventDefault()
        this.$store.dispatch('order/subtractFromCart', item)
      })
    },
    price(order) {
      return this.round(order.price * this.currentCurrency.factor, 2)
    }
  }
}
</script>

<style>

</style>

