<template>
  <div class="w-full px-6 py-4 overflow-y-auto" style="height: 300px;">
    <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            <th
              class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
            >
              ID
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
              Imagen
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
              Product
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
              Price
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
              Quantity
            </th>
          </tr>
        </thead>
        <tbody>
          <template v-for="product in products">
            <tr :key="product.id">
              <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                <div class="flex items-center">
                  <div class="ml-3">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ product.id }}
                    </p>
                  </div>
                </div>
              </td>

              <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                <div class="w-8 h-8 p-1 text-white bg-blue-500 rounded-lg">
                  <img
                    :src="product.image"
                    class="object-cover w-full h-full "
                    :alt="product.name"
                  >
                </div>
              </td>

              <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                <p class="text-gray-900 whitespace-no-wrap">{{ product.name }}</p>
              </td>

              <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                <p class="text-gray-900 whitespace-no-wrap">{{ round(product.price, 2) }}</p>
              </td>

              <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                <p class="text-gray-900 whitespace-no-wrap">{{ product.pivot.quantity }}</p>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>
  </div>
</template>

<script>
import math from '@/mixins/math'
export default {
  mixins: [math],
  props: ['products']
}
</script>
