<template>
  <div class="grid grid-cols-1 gap-2 ">

    <div class="h-20 overflow-y-auto bg-gray-300 border-2 border-blue-500 border-solid rounded-md sm:h-40">
      <template v-for="item in products">
        <Order :key="item.id" :order="item" />
      </template>
    </div>

    <div class="flex flex-col justify-center sm:flex-row">

      <h3 v-if="products.length" class="flex justify-center w-full m-2 align-middle sm:w-1/3">
        Delivery cost: {{ deliveryCost ? round(deliveryCost, 2) : 'free!' }} {{ deliveryCost ? currentCurrency.symbol : '' }}
      </h3>

      <div class="relative w-full sm:w-1/3 ">
        <div class="absolute top-0 left-0 flex w-10 h-full border border-transparent">
          <div class="z-10 flex items-center justify-center w-full h-full text-lg text-gray-600 bg-gray-100 rounded-tl rounded-bl">
            <font-awesome-icon :icon="['fas', 'ticket-alt']" />
          </div>
        </div>

        <input
          id="name"
          name="name"
          type="text"
          placeholder="Promo Code"
          value=""
          class="relative w-full py-2 pl-12 pr-2 text-sm placeholder-gray-500 border rounded sm:text-base focus:border-indigo-400 focus:outline-none"
        >

      </div>

      <h3 v-if="products.length" class="flex items-center justify-center w-full m-2 sm:w-1/3">
        Delivery at {{ getTime }}
      </h3>

    </div>

    <div class="flex justify-center">
      <button
        class="w-full px-4 py-2 text-white bg-blue-500 rounded sm:w-2/3"
        :class="!price() ? 'opacity-50 cursor-not-allowed' : ''"
        :disabled="!price()"
        @click="nextStep"
      >
        Order {{ price() }} {{ currentCurrency.symbol }}
      </button>
    </div>

  </div>
</template>

<script>
import Order from '@/components/Order'
import { mapGetters } from 'vuex'
import math from '@/mixins/math'
import { DateTime } from 'luxon'

export default {
  components: {
    Order
  },
  mixins: [math],
  props: {
    products: {
      type: Array,
      required: false
    }
  },
  data: () => ({
    DateTime
  }),
  computed: {
    ...mapGetters([
      'order',
      'deliveryCost',
      'total',
      'currentCurrency'
    ]),
    getTime() {
      const deliveryTime = DateTime.local().plus({ minutes: 30 }).toLocaleString(DateTime.TIME_24_SIMPLE)

      return deliveryTime
    }
  },
  methods: {
    nextStep(e) {
      e.preventDefault()
      this.$store.commit('order/SET_STEP', 2)
    },
    price() {
      return this.round(this.total + this.deliveryCost, 2)
    }
  }
}
</script>

<style>

</style>

